.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
}

.App-header {
  /* background-color: #61dafb; */
  min-height: 10vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-evenly;
  font-size: 15px;
  color: Orange;
  height: 50px;
  font-weight: 800;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.flex {
  margin: auto;
  flex-direction: column;
}

.flex button {
  background: lightgrey;
  /* border-radius: 50px; */
  border: 0;
  padding: 13px;
  width: 68px;
  margin: 1px;
  font-size: 16px;
  color: black;
}

button.green {
  background: #44c77c;
}

button.red {
  background: #ffb4ae;
}